<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Project</title>
</head>
<body>
    <header>
        <div class="logo_block header_block">
            <div><img src="https://goodlood.com/app/images/icons/logo_light_bg.svg" alt="logo"></div>
        </div>
        <div class="reset_btn_block header_block">
            <a href="/reset-spots">
            <div>
                <button class="reset_btn">reset</button>
            </div>
            </a>
        </div>
        
    </header>
    <div class = loodspots_block>
        <div class = loodspots_block_content>
            <h1>all loodspots</h1>
            <div class="all_loodspots">
                {% block all_loodspots %} {% endblock %}
            </div>
        </div>
    </div>
    <div class = loodspots_block>
        <div class = loodspots_block_content>
            <h1>your loodspots</h1>
            <div class="user_loodspots">
                {% block user_loodspots %} {% endblock %}
                {% block deleted_loodspots %} {% endblock %}
            </div>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>