<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Project</title>
</head>
<body>
    <header>
        <div class="logo_block header_block">
            <div>SHOPPING MALLS</div>
        </div>
        <div class="reset_btn_block header_block">
            <a href="/reset-spots">
            <div>
                <button class="reset_btn">reset</button>
            </div>
            </a>
        </div>
        
    </header>
    <div class = spots_block>
        <div class = spots_block_content>
            <h1>all spots</h1>
            <div class="all_spots">
                {% block all_spots %} {% endblock %}
            </div>
        </div>
    </div>
    <div class = spots_block>
        <div class = spots_block_content>
            <h1>your spots</h1>
            <div class="user_spots">
                {% block user_spots %} {% endblock %}
                {% block deleted_spots %} {% endblock %}
            </div>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>